.background{
     background-color:white;
    color: #44479e;
    overflow-x: hidden;
    margin-top: 5rem;
    box-shadow: -2px -2px 10px rgb(221, 221, 221);
}
.main{
    display: flex;
    justify-content: space-between;
   width: 90%;
    margin: auto;
}

.flex{
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    padding-top: 2.5rem;
    justify-content: space-between;
}

.flex>div:first-child{
    font-weight: 600;
}

.flex>div{
    font-weight: 500;
}

.flex>input{
    border: 1px solid #595b96;
height: 2rem;
padding: .5rem;
border-radius: .3rem;
    margin: .5rem 0;
}

.flex>input::placeholder{
    color: #595b96;
}

.icons{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.last{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    border-top: 1px solid #595b96;
    margin-top: 2.5rem;
    padding: 2.5rem 0;
}

.last>div{
    font-weight: 600;
}

.address{
    display: flex;
    flex-direction: column;
    line-height: 1rem;
}

.phone{
    display: flex;
    align-items: center;
}

.phone>span{
    margin-right: 1rem;
    font-size: large;
}

.last>small>span{
    font-size: large;
}

@media screen and (max-width:1000px) {
    .main, .last{
        width: 95%;
    }
}

@media screen and (max-width:768px) {
    .main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }
    .icons, .phone{
        margin:auto;
    }
    .flex>input{
        width: 50%;
        margin: auto;
    }
}

@media screen and (max-width:500px) {
    .main{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    .phone{
        text-align: center;
    }

    .icons, .address{
        margin-top: 1rem;
    }
}