.main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    width: 95%;
}

.center, .flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    cursor: pointer;
    background-color: slateblue;
    padding: 1rem .5rem;
    color: white;
    border-radius: .5rem;
    letter-spacing: .1rem;
    word-spacing: .3rem;
}

.buttons>:first-child{
    margin-right: 1rem;
}



.alert{
    text-align: center;
    z-index: 10;
    position: fixed;
    bottom: 0;
    background-color:#54d154;
    padding: 1rem;
    width: max-content;
    color: rgb(255, 255, 255);
    border-radius: .5rem;
    animation: alert .2s linear;
}

@keyframes alert {
    0%{
        transform: translateY(50px);
    }
}

@media screen and (max-width:1000px) {
    .main{
        grid-template-columns: repeat(3, 1fr);   
    }
}

@media screen and (max-width:800px) {
    .main{
        grid-template-columns: repeat(2, 1fr);   
    }
}

@media screen and (max-width:500px) {
    .main{
        grid-template-columns: repeat(1, 1fr);   
    }
}