.main{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    width: 90%;
    margin: auto;
    column-gap: 2rem;
    height: 35rem;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info{
    overflow-y:auto;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    flex-direction: column;
    row-gap: .5rem;
    cursor: pointer;
}



.title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.button{
    margin-top: 1rem;
    background-color: #ff9f00;
    text-align: center;
    padding:.5rem;
    color: white;
    border-radius: .5rem;
    width: 10rem;
}


.cart{
    background-color: #fb641b;
    color: white;
    padding: .5rem;
    border-radius: .5rem;
    width: 10rem;
    text-align: center;
}

.flex, .image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    background-color: white;
    width: 100%;
    height: max-content;
    position: relative;
}

.img{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 5px;
    left: 5px;
    row-gap: .5rem;
}

.item{
    cursor: pointer;
    transition: all .2s ease-in-out;
}


.item:hover{
    transform: scale(1.1);
}

.alert{
    text-align: center;
    z-index: 10;
    position: fixed;
    bottom: 0;
    background-color:#54d154;
    padding: 1rem;
    width: max-content;
    color: rgb(255, 255, 255);
    border-radius: .5rem;
    animation: alert .2s linear;
}

@keyframes alert {
    0%{
        transform: translateY(50px);
    }
}

@media screen and (max-width:1350px) {
    .img{
        flex-direction: row;
        bottom: -70px;
        left: auto;
        right: auto;
        top:auto;
        column-gap: .3rem;
    }

    .main{
        margin-bottom: 10rem;
    }
}

@media screen and (max-width:1000px) {
    .main{
        grid-template-columns: 1fr;
        height: auto;
        margin-bottom: 0;
    }

    .head{
        margin-top: 5rem;
    }
    .info{
        overflow-y: none;
    }

    .item{
        border: none;
    }
}

@media screen and (max-width:700px) {
.img{
        flex-direction: row;
        bottom: -70px;
        left: 5px;
        /* left: auto;
        right: auto; */
        top:auto;
        column-gap: .3rem;
    }
}