.main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    width: 95%;
    min-height: 100vh;
}

.center, .flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.center{
    flex-direction: column;
}

.card{
    background-color: white;
    border-radius: 1rem;
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 2px 2px 50px rgb(190, 190, 190);
}


.btns{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    cursor: pointer;
    background-color: rgb(107, 90, 204) ;
    padding: .5rem;
    color: white;
    border-radius: .5rem;
    width: max-content;
}

.details{
    margin-top: 1rem;
    cursor: pointer;
    background-color: rgb(49, 172, 111);
    padding: .5rem;
    color: white;
    border-radius: .5rem;
    width: 5rem;
    text-align: center;
}

.img{
    transition: .5s all ease-in-out;
    border-radius: 1rem;
}

.img:hover{
    transform: scale(1.1);

}

.info{
    padding: 1rem;
}
.alert{
    text-align: center;
    z-index: 10;
    position: fixed;
    bottom: 0;
    background-color:#54d154;
    padding: 1rem;
    width: max-content;
    color: rgb(255, 255, 255);
    border-radius: .5rem;
    animation: alert .2s linear;
}

@keyframes alert {
    0%{
        transform: translateY(50px);
    }
}

@media screen and (max-width:1000px) {
    .main{
        grid-template-columns: repeat(3, 1fr);   
    }
}

@media screen and (max-width:800px) {
    .main{
        grid-template-columns: repeat(2, 1fr);   
    }
}

@media screen and (max-width:500px) {
    .main{
        grid-template-columns: repeat(1, 1fr);   
    }
}